<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="/aaa/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/aaa/css/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Timing..</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">new</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h2>Welcome!</h2>
            <p> - You can vote for your invited meeting to set time of meeting.</p>
            <p> - Or create your own timing...</p>
            <p>
                <a class="btn btn-primary btn-large" href="/">CREATE NEW</a>
            </p>
            <p><b>title of this timing :</b>
                <%= title %>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Add your free times</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <!-- <div class="col-md-3 col-sm-6 hero-feature"> -->

            <div class="col-md-12 col-sm-12 hero-feature">

                <div class="thumbnail">

                    <form method="post">
                        <div class="caption">
                            <h3>your name :</h3>
                            <input type="text" name="name">
                            <button type="submit" class="btn btn-primary">Submit!</button>
                            <p>
                            </p>
                        </div>

                        <table border='0' style="width:100%" class="table">
                            <tr>
                                <th>
                                    <h4>
                                  week days / hours
                                </h4>
                                </th>
                                <% for(var i = 8 ; i <= 22 ; i++) {%>
                                    <th align='center'>
                                        <%= i %>
                                    </th>
                                    <% } %>
                            </tr>

                            <%
                  var week_days = ['Sat (0)','Sun (1)','Mon (2)','Tue (3)','Wed (4)','Thu (5)','Fri (6)'];
                  var cntr = 0 ;
                  %>


                                <% for(var i = 0 ; i < 7 ; i++) {%>
                                    <tr>
                                        <td>
                                            <h3>
                                <%= week_days[i] %>
                              </h3>
                                        </td>
                                        <% for(var j = 0 ; j < 15 ; j++) {%>
                                            <td>
                                                <input class="checkbox" name='<%= ++cntr %>' type='checkbox'>
                                                <%
                                      var people_n = 0 ;
                                      if(names[cntr]){
                                        people_n = names[cntr].length;
                                      }

                                      var color = 'default';

                                      if( people_n == max_people ){
                                        color = 'success';
                                      }

                                      else if(people_n > 0 ){
                                        color = 'info';
                                      }

                                      %>
                                                    <br />
                                                    <button type="button" id="<%= cntr %>" class="btn btn-<%=color%>" data-container="body" data-toggle="popover" data-placement="right" data-content="<%=names[cntr]%>">

                                                        <%=people_n%>
                                                    </button>
                                            </td>

                                            <% } %>

                                    </tr>
                                    <%}%>
                        </table>

                    </form>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>
        <% include footer %>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/aaa/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/aaa/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="popover"]').popover();
        });
    </script>

</body>

</html>
